.exercises-main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}

.cards-wrapper {
  grid-row: 1;
}

.sidebar-info {
  grid-row: 2;
}

.exercises-section-head {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .exercises-section-head {
    margin-bottom: 32px;
  }
}


@media only screen and (min-width: 768px) {
  .exercises-main-content {
    gap: 64px;
  }

}

@media only screen and (min-width: 1440px) {
  .exercises-main-content {
    grid-template-columns: 444px 1fr;
    gap: 32px;
  }

  .sidebar-info {
    grid-column: 1;
    grid-row: 1;
  }

  .cards-wrapper {
    grid-column: 2;
    grid-row: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .exercises-section-head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px; /* To prevent layout shifting when displaying the search form */
  }
}