.search-form {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  padding: 12px 14px;
  gap: 10px;
  border: 1px solid rgba(36, 36, 36, 1);
  outline: none;

  font-size: 14px;
  line-height: 1.43;
}

@media only screen and (min-width: 768px) {
  .search-input {
    font-size: 16px;
    line-height: 1.5;
  }
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.clear-btn[hidden] {
  display: none;
}

.clear-btn {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: var(--color-text-secondary);
  transition: color var(--transition);
}

.clear-btn:hover {
  color: var(--color-text-primary);
}

.search-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.search-icon {
  width: 18px;
  height: 18px;
  fill: none;
  color: var(--color-text-primary);
}

@media only screen and (min-width: 768px) {
  .search-form {
    width: 273px;
  }
}

.filter-list {
  display: flex;
  gap: 20px;
}

.filter-btn {
  position: relative;
  padding: 0 0 4px 0;
  height: 32px;
  background: none;
  outline: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;

  font-size: 14px;
  line-height: 1.43;
}

.filter-btn.active {
  color: var(--color-text-primary);
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .filter-btn {
    font-size: 16px;
    line-height: 1.5;
  }
}
