<section class="exercises-section">
  <div class="container">
    <div class="exercises-section-head">
      <h2 class="exercises-section-title">
        Exercises / <span class="js-category-title"></span>
      </h2>
      <div class="exercises-section-controls">
        <form class="search-form hidden" id="js-search-form">
          <input
            class="search-input"
            type="search"
            name="keyword"
            placeholder="Search"
            autocomplete="off"
          />
          <svg class="search-icon" aria-hidden="true">
            <use xlink:href="/__spritemap#sprite-search"></use>
          </svg>
          <button class="search-btn" type="submit" aria-label="Search"></button>
        </form>
        <ul class="filter-list">
          <li class="filter-item">
            <button class="filter-btn active" data-filter="Muscles">
              Muscles
            </button>
          </li>
          <li class="filter-item">
            <button class="filter-btn" data-filter="Body parts">
              Body parts
            </button>
          </li>
          <li class="filter-item">
            <button class="filter-btn" data-filter="Equipment">
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="exercises-main-content">
      <aside class="sidebar-info">
        <load src="partials/quote.html" />
      </aside>

      <div class="cards-wrapper">
        <ul class="category-list js-category-list"></ul>
        <ul class="exercises-list js-exercises-list"></ul>
        <ul class="pagination js-pagination"></ul>
      </div>
    </div>
  </div>
</section>
