<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <svg class="hero-icon" width="38" height="38">
        <use href="./images/icons.svg#sun"></use>
      </svg>
      Get <span>Body</span> in shape, Stay healthy
    </h1>
    <p class="hero-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>

    <img
      class="hero-side-image"
      srcset="./images/hero-legs@2x.jpg 2x"
      src="./images/hero-legs.jpg"
      alt="Women stretching"
      width="168"
      height="100"
    />

    <picture class="hero-picture">
      <source
        srcset="
          ./images/avif/hero-desktop.avif    1x,
          ./images/avif/hero-desktop@2x.avif 2x
        "
        media="(min-width: 1440px)"
        type="image/avif"
      />
      <source
        srcset="
          ./images/webp/hero-desktop.webp    1x,
          ./images/webp/hero-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero-desktop.jpg 1x, ./images/hero-desktop@2x.jpg 2x"
        media="(min-width: 1440px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/avif/hero-tablet.avif    1x,
          ./images/avif/hero-tablet@2x.avif 2x
        "
        media="(min-width: 768px)"
        type="image/avif"
      />
      <source
        srcset="
          ./images/webp/hero-tablet.webp    1x,
          ./images/webp/hero-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero-tablet.jpg 1x, ./images/hero-tablet@2x.jpg 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/avif/hero-mobile.avif    1x,
          ./images/avif/hero-mobile@2x.avif 2x
        "
        type="image/avif"
      />
      <source
        srcset="
          ./images/webp/hero-mobile.webp    1x,
          ./images/webp/hero-mobile@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        class="hero-main-image"
        srcset="./images/hero-mobile.jpg 1x, ./images/hero-mobile@2x.jpg 2x"
        src="./images/hero-mobile.jpg"
        alt="Women training together"
        width="336"
        height="460"
        fetchpriority="high"
      />
    </picture>

    <ul class="hero-tags">
      <li class="hero-tag"><a href="#">#Sport</a></li>
      <li class="hero-tag"><a href="#">#Healthy</a></li>
      <li class="hero-tag"><a href="#">#Workout</a></li>
      <li class="hero-tag"><a href="#">#Diet</a></li>
    </ul>
  </div>
</section>
