:root {
  /* Fonts — verify name and weights in Figma */
  --font-primary: 'DM Sans', sans-serif;

  /* Colors — fill from Figma */
  --color-primary-bg: #f4f4f4;
  --color-secondary-bg: #ffffff;
  --color-dark-bg: #242424;
  --color-text-primary: #242424;
  --color-text-secondary: #24242499; /* #808080;  rgba(36, 36, 36, 0.6); */
  --color-text-white: #f4f4f499; /* #ffffff; rgba(244, 244, 244, 0.6); */
  --color-accent: #ef8964;
  --color-border: #e0e0e0;

  /* Transitions */
  --transition: 250ms ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-primary);
  background-color: var(--color-primary-bg);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.is-menu-open,
body.is-modal-open {
  overflow: hidden;
  touch-action: none;
  height: 100vh;
}

main {
  flex-grow: 1;
}

.hidden {
  display: none;
}
